body {
    margin:0px;
    padding:0px; 
}
h1{
    margin-top:50px;
    margin-left:500px;
}
table {
    width:300px;
    margin-top:50px;
    margin-left:500px;
    border: 1px solid #ccc;
}
table thead {
    background-color:#ddd;
}
th,td {
    padding:5px;
}
tbody tr:nth-child(even){
    background-color: #3be03b;
}